<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HI</h1>
<a href="{% url 'create_contact' %}" id="create_contact">Add Contact</a>
</body>
</html>